<div class="row">
  <div class="col-lg-6">
    <div class="form" *ngIf="form" [ngClass]="{'form_loading': loading$ | async}">
      <app-spinner [visible]="loading$ | async"></app-spinner>
      <h2>Вход в систему</h2>
      <mat-divider></mat-divider>
      <div class="form-fields" [formGroup]="form">
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Введите email" formControlName="username">
            <mat-error *ngIf="form.get('username').invalid">Введите корректные данные</mat-error>
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Пароль</mat-label>
            <input matInput placeholder="Введите пароль" type="password" formControlName="password">
            <mat-error *ngIf="form.get('password').invalid">Введите корректное данные</mat-error>
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-checkbox>Запомнить меня</mat-checkbox>
        </div>
        <div class="form-field">
          <span class="form-field__link" (click)="goToForgot()">Забыли пароль?</span>
          <span class="form-field__link" (click)="goToRegistration()">Зарегистрироваться</span>
        </div>
        <div class="form-field">
          <button
            class="field-btn"
            mat-flat-button
            color="accent"
            (click)="onClick()"
          >Войти</button>
        </div>
      </div>
    </div>
  </div>
</div>
