::ng-deep {
    .mat-tab-body-content {
        min-height: 500px;
    }
}

table {
    width: 100%;
}

.currency {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__icon {
        img {
            width: 30px;
        }
    }
    &__value {
        display: inline-block;
        margin-left: 15px;
    }
    &__code {
        display: inline-block;
        margin-left: 10px;
    }
}

.form {
    &__field {
        width: 50%;
        @media (max-width: 770px) {
            width: 100%;
        }
    }
}

.mat-form-field {
    width: 100%;
}

::ng-deep {
    .mat-form-field-wrapper {
        padding-bottom: 0;
    }
    .mat-tab-label-container {
        overflow-x: hidden;
    }
}

.tab-block {
    &__text {
        &_bold {
            font-weight: 600;
        }
    }
}

.tab-content {
    &__header {
        position: relative;
    }
}

.copy {
    position: relative;
    display: inline-block;
    cursor: pointer;
    i {
        margin-left: 5px;
        font-size: 20px;
    }
}

table {
    td {
        padding-right: 15px;
    }
}

.partner-link {
    font-weight: bold;
}
