<mat-tab-group [animationDuration]="'500ms'">
    <mat-tab label="Мои заявки">
        <ng-template matTabContent>
            <app-my-applications></app-my-applications>
        </ng-template>
    </mat-tab>
    <mat-tab label="Сменить пароль">
        <ng-template matTabContent>
            <app-change-password></app-change-password>
        </ng-template>
    </mat-tab>
    <mat-tab label="Настройки">
        <ng-template matTabContent>
            <app-settings></app-settings>
        </ng-template>
    </mat-tab>
    <mat-tab label="Партнерский аккаунт">
        <ng-template matTabContent>
            <app-affiliate-account></app-affiliate-account>
        </ng-template>
    </mat-tab>
    <mat-tab label="Вывод стредств">
        <ng-template matTabContent>
            <app-withdrawal-funds></app-withdrawal-funds>
        </ng-template>
    </mat-tab>
</mat-tab-group>