<div class="tab-header">
  <h2>Партнерский аккаунт</h2>
</div>
<div class="tab-content" *ngIf="affiliateWithdral$ | async as data">
  <div class="form">
    <div class="tab-content__block">
      <h4>СРЕДСТВА</h4>
      <span class="tab-block__text tab-block__text_bold">
        Доступно для вывода:
      </span>
      <span class="tab-block__text">
        {{data.value + ' ' +data.currencyCode}}
      </span><br/>
      <span  class="tab-block__text tab-block__text_bold">
        Комиссия за перевод:
      </span>
      <span class="tab-block__text">
          {{data.fee + ' ' +data.currencyCode}}
      </span>
    </div>
    <ng-container *ngIf="data.value > data.fee">
      <div class="tab-content__block">
        <h4>ЗАПРОС НА ВЫВОД</h4>
        <div class="form__field">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Кошелёк BTC</mat-label>
            <input #walletInput
              matInput
              placeholder="Кошелёк"
            >
          </mat-form-field>
        </div>
      </div>
      <button
        mat-flat-button
        color="accent"
        (click)="onClick(walletInput.value)">Отправить</button>
    </ng-container>
  </div>
</div>

<app-applications-table mode="withdrawalApps" [data]="apps$ | async"></app-applications-table>
