<div class="modal">
    <div class="row">
        <div class="button-close col-12" (click)="close()">
            <i class="far fa-window-close"></i>
        </div>
    </div>
    <div class="modal-header">
        <h3>{{title}}</h3>
    </div>
    <div class="modal-content">
        <ng-content></ng-content>
    </div>
    <div class="modal-btn">
        <button class="modal-btn__item" mat-flat-button color="accent" (click)="onSubmit($event)">{{buttonTitle}}</button>
    </div>
</div>