@import "../../../../styles/vars";
.modal {
    &-content {
        padding: 0 0 15px 0;
    }
    &-btn {
        &__item {
            width: 100%;
        }
    }
    &-header {
        text-align: center;
    }
}

.button-close {
    cursor: pointer;
    width: 100%;
    height: 30px;
    i {
        font-size: 25px;
        color: $orange-color;
        cursor: pointer;
        float: right;
    }
}