<div class="row">
    <div class="col-lg-6">
        <div class="form" [formGroup]="form" *ngIf="!(isRegister$ | async)" [ngClass]="{'form_loading': loading$ | async}">
            <app-spinner [visible]="loading$ | async"></app-spinner>
            <h2>Создание нового аккаунта</h2>
            <mat-divider></mat-divider>
            <div class="form-fields">
                <div class="form-field">
                    <mat-form-field appearance="outline">
                        <mat-label>Ваше имя</mat-label>
                        <input matInput placeholder="Введите ваше имя" formControlName="username">
                        <mat-error *ngIf="form.get('username').invalid">{{errorMessage}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Введите email" formControlName="email">
                        <mat-error *ngIf="form.get('email').invalid">{{errorMessage}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field">
                    <mat-form-field appearance="outline">
                        <mat-label>Пароль</mat-label>
                        <input matInput placeholder="Введите пароль" type="password" formControlName="password">
                        <mat-error *ngIf="form.get('password').invalid">{{errorMessage}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field">
                    <mat-form-field appearance="outline">
                        <mat-label>Подтвердите пароль</mat-label>
                        <input matInput placeholder="Подтвердите пароль" type="password" formControlName="passwordConfirm">
                        <mat-error *ngIf="form.get('passwordConfirm').invalid">{{errorMessage}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field">
                    <mat-form-field appearance="outline">
                        <mat-label>Телефон</mat-label>
                        <input matInput placeholder="+7 (999) 999 99-99" prefix="+7 " mask="(000) 000 00 00" formControlName="phone">
                    </mat-form-field>
                </div>
                <div class="form-field">
                    <mat-form-field appearance="outline">
                        <mat-label>Телеграм</mat-label>
                        <input matInput placeholder="@user" prefix="@" mask="A{20}" formControlName="telegram">
                    </mat-form-field>
                </div>
                <div class="form-field">
                    <span class="mark-rights">
            <span class="mark-rights__text">Нажимая кнопку "Создать" вы соглашаетесь с </span>
                    <a [routerLink]="'/privacy'" class="mark-rights__link">политикой конфиденциальности</a>
                    </span>
                </div>
                <div class="form-field">
                    <button class="field-btn" mat-flat-button color="accent" (click)="onSubmit()">Создать</button>
                </div>
            </div>
        </div>
        <div class="form-success" *ngIf="isRegister$ | async">
            <h2>Вы успешно зарегистрировались</h2>
            <p>Осталось только подтвердить вашу почту</p>
        </div>
    </div>
</div>
