.contacts-list {
    margin: 0 40px 0 0;
    line-height: 2;
    li{
      list-style: none;
    }
}

.contacts-list{
  font-size: 18px;
   a {
    color: #a3a9b7;
    text-decoration: none;
    transition: 0.3s;
  }
  i {
    margin-right: 10px;
  }
}
