
<app-static-page title="Наши контакты">
  <p>Мы всегда готовы ответить на интересующие Вас вопросы, а также выслушать Ваши предложения по улучшению нашего сервиса.
      Вы всегда можете рассчитывать на оперативное решение проблем и ответы на интересующие Вас вопросы любым удобным способом:
  </p>

  <ul class="contacts-list">
      <li><a href="tg://resolve?domain=obmencryptocom"><i class="fab fa-telegram-plane"></i> @obmencryptocom</a></li>
      <li><a href="whatsapp://send?phone=79313915763"><i class="fab fa-whatsapp"></i> +7 (931) 391 57 63</a></li>
      <li><a href="tel:+79313915763"><i class="fa fa-phone"></i>+7 (931) 391 57 63</a></li>
  </ul>
</app-static-page>
