/* You can add global styles to this file, and also import other style files */

@import "styles/theme";
@import "styles/main";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 13px;
    background: $light-color;
    height: 100%;
}

.page-wrap {
    display: block;
    min-height: 100%;
    background: $light-color;
    background-image: $backgroundImg;
    margin-bottom: -80px;
    &:after {
        content: "";
        display: block;
        height: 100px;
    }
}

.info-form {
    padding: 10px;
    background-color: #d9edf7;
    color: #5188a3;
    border: 1px solid #bce8f1;
}

.exchange-info {
    font-size: 16px;
}

.bold {
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.footer {
    width: 100%;
    padding: 20px 0;
    background-color: #fff;
    &__logo {
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
            display: inline-block;
            width: 200px;
            @include media-breakpoint-down(sm) {
                width: 150px;
            }
            @include media-breakpoint-down(xs) {
                margin-bottom: 10px;
                width: 200px;
            }
        }
    }
    &__title {
        color: $light-color;
        font-size: 14px;
        text-transform: uppercase;
    }
    &-contacts {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            color: $orange-color-light;
            border: 2px solid $orange-color-light;
            border-radius: 50%;
            text-decoration: none;
            transition: color .4s ease-in;
            &:hover {
                color: #000;
                border: 2px solid #000;
            }
            i {
                font-size: 16px;
            }
        }
    }
}

.header {
    width: 100%;
    background-color: $brown-color;
    margin-bottom: 25px;
    padding: 20px 0;
    &__logo {
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
            display: inline-block;
            width: 200px;
            @include media-breakpoint-down(md) {
                width: 150px;
            }
            @include media-breakpoint-down(sm) {
                width: 120px;
            }
            @include media-breakpoint-down(xs) {
                margin-bottom: 10px;
                width: 200px;
            }
        }
    }
    &__title {
        color: $light-color;
        font-size: 14px;
        text-transform: uppercase;
        @include media-breakpoint-down(sm) {
            font-size: 11px;
        }
    }
    &-contacts {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            color: $orange-color-light;
            border: 2px solid $orange-color-light;
            border-radius: 50%;
            text-decoration: none;
            transition: color .4s ease-in;
            &:hover {
                color: $light-color;
                border: 2px solid $light-color;
            }
            i {
                font-size: 16px;
            }
        }
    }
}

.mat-expansion-panel-header {
    background-color: #f8eacd;
}

._orinationRight_b68.wrap_cab {
    bottom: 100px;
}