<app-static-page title="Политика конфиденциальности">
  <h3>1. Политика конфиденциальности</h3>
  <p>
      Политика конфиденциальности содержит описание прав клиента на сохранение
      конфиденциальности в отношении сбора, обработки, использования, хранения и защиты
      личных данных. Политика применима к сервису Obmencrypto, услугам и инструментам
      независимо от типа доступа или их использования. Клиент принимает условия данной
      Политики конфиденциальности при получении доступа или использовании продуктов,
      услуг, возможностей, технологий или функций, предлагаемых обменным сервисом
      Obmencrypto.
  </p>

  <h3>2. Сбор информации о клиентах</h3>
  <p>При использовании услуг предоставляемых обменным сервисом Obmencrypto система
      собирает информацию, отправляемую вашим мобильным телефоном, компьютером или
      другим средством доступа. Информация, отправляемая системе обменного сервиса
      Obmencrypto, включает в себя данные о посещенных вами страницах, IP-адрес,
      идентификаторы устройств, тип используемой операционной системы, ваше
      местоположение и другую информацию. При использовании услуг предоставляемых
      обменным сервисом Obmencrypto, обменный сервис Obmencrypto анализирует и собирает
      информацию о ваших операциях и деятельности.
  </p>

  <h3>3. Виды личной информации</h3>
  <p>- Имя и фамилия<br/>
      - Дата рождения<br/>
      - Идентификация по ID документу<br />
      - Адрес местопроживания<br />
      - Адрес электронной почты<br />
      - IP адрес<br />
      - Номер телефона<br />
      - Банковские реквизиты<br />
      - Совершенные транзакции<br/>
      - а также другую подобную информацию.<br/><br />
      Обменный сервис Obmencrypto может запрашивать информацию о клиенте у третьих лиц,
      в сервисах, которые оказывают услуги по идентификации личности, для того чтобы
      подтвердить вашу личность и снизить риск мошенничества с использованием ваших
      личных данных при получении услуг предоставляемых Обменным сервисом Obmencrypto.
  </p>

  <h3>4. Хранение личных данных</h3>
  <p>В соответствии с политикой Обменного сервиса Obmencrypto по хранению данных,
      Обменный сервис Obmencrypto осуществляет хранение Учетных записей клиента и Личные
      данные клиента в течении пяти лет. Обменный сервис Obmencrypto осуществляет все
      меры безопасности для обеспечения конфиденциальности личных данных и защиты
      личных данных от потери, неправомерного использования, внесения изменений или
      уничтожения личных данных клиента.
  </p>

  <h3>5. Раскрытие личных данных</h3>
  <p>Обменный сервис Obmencrypto имеет право предоставлять личные данные клиента
      следующим лицам:<br/>
      - Правоохранительным органам или другим лицам в соответствии с судебным запросом,
      постановлением суда или другим судебным процессом или требованием, применимым к
      Обменному сервису Obmencrypto.<br/>
      - Финансовым учреждениям, с которыми мы сотрудничаем.<br/>
  </p>

  <h3>6. Использование Cookie файлов</h3>
  <p>Обменный сервис Obmencrypto использует файлы cookie с целью повышения
      эффективности и удобства работы пользователя. При получении услуг предоставляемых
      Обменным сервисом Obmencrypto, Вы соглашаетесь с хранением и использованием
      порталом и партнёрскими сайтами файлов cookie на вашем устройстве.
  </p>

  <h3>7. Обратная связь</h3>
  <p>При появлении вопросов относительно политики конфиденциальности свяжитесь с нами:
      <a href="mailto:operator@obmencrypto.com?Subject=Hello%20again">operator@obmencrypto.com</a>
  </p>
</app-static-page>
