<app-spinner [visible]="loading$ | async"></app-spinner>
<ng-container *ngIf="application$ | async as app">
    <div class="row">
        <div class="col-md-12 col-lg-8">
            <div class="form">
                <h2>Заявка №{{app.orderNumber}} от {{getDate(app.date) | date: 'dd.MM.yyyy HH:mm'}}</h2>
                <mat-divider></mat-divider>
                <div class="form-header">
                    <span class="form-header__text application__text">{{app.applicationText}}</span><br/>
                    <span class="form__warning" *ngIf="app.moneyBackText">{{app.moneyBackText}}</span>
                </div>
                <div *ngIf="app.telegramInfo" class="form-header">
                    <mat-divider></mat-divider>
                    <h2>Телеграм оповещения!</h2>
                    <span class="form-header__text application__text" [innerHTML]="sanitizer.bypassSecurityTrustHtml(app.telegramInfo)"></span>
                </div>
                <mat-divider></mat-divider>
                <div class="form-panel">
                    <div class="row align-items-center">

                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-panel__item">
                                <span class="form-panel__item-text form-bold-17">
                    Статус заявки:
                </span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-9">
                            <div class="form-panel__item application__status">
                                <app-status [status]="app.status"></app-status>
                            </div>
                            <div class="form-panel__item" *ngIf="time$ | async as time">
                                <mat-chip-list>
                                    <mat-chip>{{time}}</mat-chip>
                                </mat-chip-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <span class="form__warning" *ngIf="app.status == appStatuses.NEW">
        На оплату заявки дается 30 минут, по истечении этого времени заявка закрывается
      </span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form">
                <div *ngIf="app.fieldsFrom ||  app.fieldsTo" class="form-header">
                    <h2 style="margin: 0">Данные для оплаты:</h2>
                </div>
                <div class="form-panel">
                    <span *ngIf="app.withdrawInWallet">
                    <span>Переведите средствана на данный кошелёк</span>
                    <span>{{' ('+app.giveCurrency.name+') '}}:</span>
                    <br/>
                    <span class="withdrawin-wallet">{{app.withdrawInWallet.address}}</span>
                    <span class="copy" [attr.data-clipboard-text]="app.withdrawInWallet.address">
                <i class="far fa-copy"></i>
              </span>
                    <br />
                    <div *ngIf="app.withdrawInWallet.additionalInfo">
                        <span>
                {{app.withdrawInWallet.additionalInfoTitle}}:
              </span>
                        <br/>
                        <span>
                {{app.withdrawInWallet.additionalInfo}}
              </span>
                        <span class="copy" [attr.data-clipboard-text]="app.withdrawInWallet.additionalInfo">
                <i class="far fa-copy"></i>
              </span>
                    </div>
                    </span>
                    <span *ngIf="!app.withdrawInWallet">
        Для доставки с вами свяжется оператор.
      </span>
                    <img class="application__qr-code" *ngIf="app.qrCode" [src]="getImage(app.qrCode)" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="field">
                <div class="field-head">
                    <span class="field-head__text">Отдаете</span>
                </div>
                <div class="field-content application__volume">
                    <span class="field-content__text">Объем: </span>
                    <span class="field-content__text">{{app.giveCurrency.value}}</span>
                    <span class="field-content__icon">
            <img [src]="app.giveCurrency.icon" alt="icon-bitcoin">
          </span>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="field">
                <div class="field-head">
                    <span class="field-head__text">Получаете</span>
                </div>
                <div class="field-content application__volume">
                    <span class="field-content__text">Объем: </span>
                    <span class="field-content__text">{{app.receiveCurrency.value}}</span>
                    <span class="field-content__icon">
            <img [src]="app.receiveCurrency.icon" alt="icon-bitcoin">
          </span>
                    <span class="field-content__text form__warning" *ngIf="!app.fixedRate">&nbsp;(Приблизительно)</span>
                </div>

                <div class="field-content application__volume" *ngIf="app.feePrice">
                    <span class="field-content__text">Комиссия сети: </span>
                    <span class="field-content__text">{{app.feePrice}}</span>
                    <span class="field-content__icon">
              <img [src]="app.receiveCurrency.icon" alt="icon-bitcoin">
            </span>
                </div>
                <div class="field-content application__volume" *ngIf="app.fieldsTo">
                    <span class="field-content__text">{{app.fieldsTo[0].title}}: </span>
                    <span class="field-content__text">{{app.fieldsTo[0].value}}</span>
                </div>
                <div class="field-content application__volume" *ngIf="app.fieldsTo && app.fieldsTo.length === 2">
                    <span class="field-content__text">{{app.fieldsTo[1].title}}: </span>
                    <span class="field-content__text">{{app.fieldsTo[1].value}}</span>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <app-promo-code [promoCode]="app.promoCode" [appStatus]="app.status"></app-promo-code>
        </div>
    </div>
    <div class="row" *ngIf="(status$ | async) == appStatuses.NEW">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <button class="field-btn" mat-flat-button (click)="cancel()" color="warn">Отменить</button>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <button class="field-btn application__paid-btn" mat-flat-button (click)="paid()">Я оплатил</button>
                </div>
                <div class="col-sm-12 col-lg-4" *ngIf="(application$ | async)?.payUrl as url">
                    <button class="field-btn" mat-flat-button (click)="makePayment(url)" color="accent">Оплатить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" *ngIf="error$ | async as err">
            <span class="error">{{err}}</span>
        </div>
    </div>
</ng-container>