@import 'src/styles/vars';
.mat-chip {
    font-size: 11px;
}

.copy {
    position: relative;
    right: -15px;
    display: inline-block;
    cursor: pointer;
    i {
        font-size: 26px;
    }
}

.form-bold-17 {
    font-weight: bold;
    font-size: 17px;
}

.user-data-title {
    margin-top: 0 !important;
    margin-bottom: 5 !important;
}

.application {
    &__qr-code {
        max-width: 300px;
        max-height: 300px;
    }
    &__volume {
        font-size: 16px;
    }
    &__status {
        float: left;
    }
    &__text {
        white-space: pre-wrap;
    }
    &__paid-btn {
        background-color: $success-color !important;
        color: white;
    }
}

.withdrawin-wallet {
    font-weight: bold;
    font-size: 16px;
}

.mat-chip {
    background-color: $timer-color;
}

:ng-deep h2 {
    margin: 0 !important;
}