<div class="form" [ngClass]="{'form_loading': loading$ | async}">
    <app-spinner [visible]="loading$ | async"></app-spinner>

    <ng-content></ng-content>
    <div class="form-body">

        <!--    /*-->
        <!--    Поля формы для отдаю-->
        <!--    **/-->
        <div class="form-body__block" *ngIf="giveFormArray.controls.length > 0">
            <ng-container *ngFor="let field of giveFormArray.controls">
                <app-field [fieldControl]="field"></app-field>
            </ng-container>
        </div>

        <!--    /*-->
        <!--    Поля формы для получаю-->
        <!--    **/-->

        <div class="form-body__block" *ngIf="receiveFormArray.controls.length > 0">
            <ng-container *ngFor="let field of receiveFormArray.controls">
                <app-field [fieldControl]="field"></app-field>
            </ng-container>
        </div>
    </div>

    <div>
        <span class="form__title">Способ связи (на выбор)</span>
        <div class="row">
            <div class="col-12">
                <app-person-data [exchangeForm]="exchangeForm"></app-person-data>
            </div>
            <div class="form-body__buttonAndRights col-12">
                <button mat-flat-button color="accent" (click)="onClick()">Обменять сейчас</button>
                <div class="form-body__rights">
                    <span class="mark-rights">
                    <span class="mark-rights__text">Нажимая кнопку "Обменять" вы соглашаетесь с </span>
                    <a [routerLink]="'/faq'" class="mark-rights__link">правилами обмена</a>
                    <span class="mark-rights__text"> и </span>
                    <a [routerLink]="'/privacy'" class="mark-rights__link">политикой конфиденциальности</a>
                    </span>
                </div>
            </div>
            <div class="col-12" *ngIf="(titles$ | async)?.bottomText">
                <div class="form-header__bottom-text">
                    <span>
            {{(titles$ | async)?.bottomText}}
          </span>
                </div>
            </div>
        </div>
    </div>


    <span class="error" *ngIf="exchangeError$ | async as err">{{err}}</span>
</div>