@import "../../../styles/bootstrap-media";
.form {
    position: relative;
    &-header {
        min-height: 50px;
        line-height: 26px;
        &__text {
            white-space: pre-wrap;
            font-size: 13px;
            opacity: 1;
            transition: opacity .3s ease-in-out;
            &_hidden {
                opacity: 0;
            }
        }
        &__bottom-text {
            white-space: pre-wrap;
            text-align: center;
            color: red;
            padding: 10px;
            margin-top: 5px;
            font-size: 14px;
        }
    }
    &-body {
        &__buttonAndRights {
            $sideWrapperPaddings: 50px;
            padding-left: $sideWrapperPaddings;
            padding-right: $sideWrapperPaddings;
            button {
                $buttonPaddigns: 10px;
                font-size: 18px;
                font-weight: bold;
                padding-bottom: $buttonPaddigns;
                padding-top: $buttonPaddigns;
            }
        }
        &__rights {
            text-align: center;
            font-size: 13px;
        }
        &__field {
            position: relative;
        }
        &__icon {
            position: absolute;
            top: 10px;
            right: 5px;
            display: inline-block;
            background: #fff;
            padding: 0 3px;
            img {
                width: 35px;
            }
        }
    }
    &__title {
        display: inline-block;
        font-weight: bold;
        padding: 10px 0;
        font-size: 14px;
    }
    &-field {
        padding-bottom: 10px;
        @include media-breakpoint-down(md) {
            padding-bottom: 20px;
        }
    }
    .error {
        color: red;
    }
    .email-mark {
        margin-top: 10px;
    }
}

.mat-form-field {
    width: 100%;
    position: relative;
}

.mat-flat-button {
    width: 100%;
}