<div class="block-input row" (mousemove)="onHover(true)" (mouseleave)="onHover(false)">
    <div class="col-7">
        <mat-form-field appearance="outline" [floatLabel]="'always'">
            <mat-label>{{title}}</mat-label>
            <input matInput appNumberFormat type="number" [formControl]="control" [placeholder]="placeholder" (input)="onInputCurrencyValue($event.target)">
            <mat-error *ngIf="control.hasError('minValue')">Значение меньше допустимого</mat-error>
            <mat-error *ngIf="control.hasError('maxValue')">Значение больше допустимого</mat-error>
            <mat-error *ngIf="control.hasError('required')">Обязательно</mat-error>
            <mat-error *ngIf="control.hasError('serverError')">{{control.getError('serverError')}}</mat-error>
        </mat-form-field>
        <span class="currency-icon" *ngIf="activeCurrency.icon">
          <img [src]="activeCurrency.icon"/>
      </span>
    </div>
    <div class="currency-info col-5" [class.currency-give]="mode == modes.GIVE">
        <div>min: {{activeCurrency.minValue}}</div><br/>
        <div>max: {{activeCurrency.maxValue}}</div><br/>
        <div *ngIf="mode == modes.RECEIVE"><span class="reserve-title">Резерв: </span> <span class="reserve-volume">{{activeCurrency.reserve}}</span>
            <app-not-enough-reserve-link [currency]="activeCurrency"></app-not-enough-reserve-link>
        </div>
    </div>

</div>