@import "../../../styles/vars";
.mat-form-field {
    width: 100%;
}

.block-input {
    position: relative;
    &__hide-native-block {
        display: inline-block;
        position: absolute;
        top: 48px;
        right: 8px;
        height: 26px;
        width: 30px;
        background-color: #fff;
    }
    &__tooltip {
        position: absolute;
        left: 0;
        top: -25px;
        background: rgba(0, 0, 0, .7);
        display: inline-block;
        padding: 5px 25px;
        border-radius: 5px;
        color: rgba(255, 255, 255, .8);
        opacity: 0;
        transition: opacity .2s ease-in-out;
        &_visible {
            opacity: 1;
        }
    }
    &__error {
        display: block;
        min-height: 13px;
        color: $warn-color;
        font-size: 10px;
    }
    .reserve {
        &-volume {
            color: $orange-color;
            margin-right: 5px;
        }
        &-title {
            font-weight: bolder;
        }
    }
    .currency {
        &-info {
            padding-top: 3px;
            font-size: 12px;
            div {
                position: relative;
                display: inline;
                margin: 0;
                left: -15px;
            }
        }
        &-icon {
            position: absolute;
            top: 10px;
            right: 20px;
            display: inline-block;
            background: #fff;
            padding: 0 3px;
            img {
                width: 35px;
            }
        }
        &-give {
            padding-top: 12px;
        }
    }
}