<div class="block-filters">
  <ng-container *ngFor="let filter of filters">
    <button
      mat-stroked-button
      class="block-filters__btn"
      [ngClass]="{'block-filters__btn_active': filter.code === activeFilter.code}"
      (click)="onClick(filter)"
    >{{filter.code}}</button>
  </ng-container>
</div>
