@import "../../../styles/vars";
.currency {
    display: flex;
    align-items: center;
    padding: 12px;
    transition: background-color .3s ease-out;
    &_active {
        cursor: pointer;
    }
    &_non-active {
        cursor: not-allowed;
        opacity: 0.4;
    }
    &:hover {
        background-color: $accent-color;
    }
    &_selected {
        background-color: $accent-color;
    }
    &__text {
        display: flex;
        flex-direction: column;
        &-name {
            font-size: 16px;
            &_small {
                font-size: 11px;
            }
            &_accent {
                color: $orange-color;
            }
        }
    }
    &__icon {
        margin-right: 15px;
        img {
            max-width: 30px;
        }
    }
}