<div class="currency" (mouseenter)="showNotEnough=true" (mouseleave)="showNotEnough=false" [ngClass]="{'currency_selected': selected, 'currency_non-active': !currency.isActive, 'currency_active': currency.isActive}">
    <span class="currency__icon">
        <img [src]="currency.icon" alt="btc">
      </span>
    <div class="currency__text">
        <span class="currency__text-name">{{currency.name}}</span>
        <span class="currency__text-name_small">
          <span class="currency__text-name_small"  *ngIf="mode === modes.RECEIVE">{{subtitle}}</span>
        <span class="currency__text-name_small currency__text-name_accent" *ngIf="mode === modes.RECEIVE">
            {{currency.reserve}} {{currencyCaption}} <app-not-enough-reserve-link [needOpacityClass]="!showNotEnough" [currency]="currency"></app-not-enough-reserve-link>
          </span>
        </span>
    </div>
</div>