@import "bootstrap-media";
@import "bootstrap/grid";
@import "bootstrap/bootstrap-grid";
@import "vars";
.wrap_mW {
    right: 50px !important;
}

.block {
    width: 100%;
    @include media-breakpoint-down(md) {
        margin-bottom: 30px;
    }
    @include media-breakpoint-down(sm) {
        margin-bottom: 15px;
    }
    &-filters {
        display: flex;
        justify-content: space-between;
        margin: 10px -2px 0 -2px;
        &__btn {
            flex-grow: 1;
            margin: 0 2px!important;
            &_active {
                background-color: $orange-color;
                color: #ffffff;
            }
        }
    }
    &-currencies {
        margin-top: 15px;
        .currency {
            display: flex;
            align-items: center;
            padding: 12px;
            cursor: pointer;
            transition: background-color .3s ease-out;
            &:hover {
                background-color: $accent-color;
            }
            &_selected {
                background-color: $accent-color;
            }
            &__text {
                display: flex;
                flex-direction: column;
                &-name {
                    font-size: 16px;
                    &_small {
                        font-size: 11px;
                    }
                    &_accent {
                        color: $orange-color;
                    }
                }
            }
            &__icon {
                margin-right: 15px;
                img {
                    max-width: 30px;
                }
            }
        }
    }
}

.mat-bottom-sheet-container {
    height: 100vh;
    max-height: 100vh!important;
}

.content {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
}

.form {
    &-header {
        padding: 10px 0;
        &__text {
            font-size: 16px;
            opacity: 1;
            transition: opacity .3s ease-in-out;
            &_hidden {
                opacity: 0;
            }
        }
    }
    &-panel {
        padding: 10px 0;
    }
    &__warning {
        display: inline-block;
        color: #ad0028;
        font-size: 14px;
        display: inline-block;
        padding: 6px 0;
    }
    &__title {
        display: inline-block;
        font-size: 14px;
        padding: 10px 0;
    }
    &-fields {
        margin: 14px 0;
    }
    &-field {
        padding-bottom: 10px;
        .mat-form-field {
            width: 100%;
        }
        &__link {
            display: block;
            color: #c9c9c9;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.field {
    display: flex;
    flex-direction: column;
    padding: 14px 0;
    &-head {
        &__text {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 500;
        }
    }
    &-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        &__icon {
            margin-left: 15px;
            img {
                width: 20px;
            }
        }
        &__text {
            &:first-child {
                padding-right: 12px;
            }
        }
    }
    &-btn {
        width: 100%;
        margin-bottom: 15px!important;
    }
}

.mark {
    position: absolute;
    top: 45px;
    left: -7px;
    color: red;
    font-size: 10px;
    &-rights {
        padding: 5px 0;
        display: inline-block;
        font-size: 10px;
        line-height: 16px;
    }
}

.tab-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.hamburger {
    padding: 0;
    outline: none;
    &-inner {
        width: 28px;
        background-color: #f8eacd;
        &:after {
            width: 28px;
            background-color: #f8eacd;
        }
        &:before {
            width: 28px;
            background-color: #f8eacd;
        }
    }
    .is-active {
        .hamburger-inner {
            background-color: #f8eacd;
            &:after {
                width: 28px;
                background-color: #f8eacd;
            }
            &:before {
                width: 28px;
                background-color: #f8eacd;
            }
        }
    }
}

.no-scroll {
    overflow-y: hidden;
}

.error {
    color: red;
}

.mat-form-field {
    width: 100%;
}

.block-input {
    position: relative;
    &__hide-native-block {
        display: inline-block;
        position: absolute;
        top: 48px;
        right: 8px;
        height: 26px;
        width: 30px;
        background-color: #fff;
    }
    &__tooltip {
        position: absolute;
        left: 0;
        top: -25px;
        background: rgba(0, 0, 0, .7);
        display: inline-block;
        padding: 5px 25px;
        border-radius: 5px;
        color: rgba(255, 255, 255, .8);
        opacity: 0;
        transition: opacity .2s ease-in-out;
        &_visible {
            opacity: 1;
        }
    }
    &__error {
        display: block;
        min-height: 13px;
        color: $warn-color;
        font-size: 10px;
    }
}

.form {
    position: relative;
    &_loading {
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, .7s);
            z-index: 88;
        }
    }
}

.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    font-size: 12px;
}
