$light-color: #f8eacd;
$light-semi-color: #a89e8c;
$body-color: #fffbf2;
$orange-color: #ff6e12;
$orange-color-light: #EF9B66;
$accent-color: #fed049;
$brown-color: #2c2729;
$warn-color: #f53636;
$backgroundImg: url('./assets/icons/bg.jpg');
$timer-color: #bafaff;
$success-color: green;