<div class="field" *ngIf="promoCode">
    <div class="application__promocode field-head">
        <span class="field-head__text">Использованный промокод:</span><span> {{promoCode}}</span>
    </div>
</div>

<div class="row  promo-field" *ngIf="!promoCode &&  appStatus == appStatuses.NEW">
    <div class="col-lg-4">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Промокод:</mat-label>
            <input #promoCodeInput matInput placeholder="Введите промокод">
        </mat-form-field>
    </div>
    <div class="col-lg-4">
        <button mat-flat-button color="accent" *ngIf="promoCodeInput.value" (click)="SetPromo(promoCodeInput.value)">Применить
    </button>
    </div>
</div>