@import "../../../styles/vars";
@import "../../../styles/bootstrap-media";
.select {
    display: flex;
    align-items: center;
    &__icon {
        width: 16px;
        margin-right: 15px;
    }
}

.block-currencies {
    overflow-y: auto;
    &_is-non-active {
        pointer-events: none;
        opacity: 0.4;
    }
}

.block-currencies-desktop {
    height: 450px;
}

.mobile-currency {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.12);
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color .01s ease;
    &:hover {
        border-color: rgba(0, 0, 0, 0);
    }
    .inner {
        display: flex;
        align-items: center;
        width: 100%;
        border-width: 2px;
        border-color: transparent;
        border-style: solid;
        border-radius: 5px;
        transition: border-color .2s ease-in;
        padding: 6px;
        height: 50px;
        &:hover {
            border-color: #000000;
        }
    }
    &__icon {
        display: inline-block;
        margin-right: 12px;
        img {
            max-width: 30px;
        }
        &_arrow {
            position: absolute;
            top: 14px;
            right: 0;
        }
    }
}