<div class="block">
    <div class="block-currencies" [class.block-currencies_is-non-active]="!isActive" [ngClass]="!isMobile ? 'block-currencies-desktop' : ''">
        <ng-container *ngIf="isMobile; then mobile; else desktop">
        </ng-container>
    </div>
</div>

<ng-template #desktop>
    <ng-container *ngFor="let cur of currencies;trackBy: trackByFn">
        <mat-divider></mat-divider>
        <app-currency-field [mode]="mode" [currency]="cur" [selected]="cur.id === activeCurrency.id" (click)="onChooseCurrency(cur)"></app-currency-field>
    </ng-container>
</ng-template>

<ng-template #mobile>
    <div class="mobile-currency" (click)="onOpenList()">
        <span class="inner">
      <ng-container *ngIf="activeCurrency.id; else noActiveCurrency">
        <span class="mobile-currency__icon">
          <img [src]="activeCurrency.icon" alt="currency-icon">
        </span>
        <span class="mobile-currency__value">
          {{activeCurrency.name}}
        </span>
        </ng-container>
        <span class="mobile-currency__icon mobile-currency__icon_arrow">
          <mat-icon matPrefix>arrow_drop_down</mat-icon>
        </span>
        </span>
    </div>
</ng-template>


<ng-template #noActiveCurrency>
    <span class="mobile-currency__value">Выберите валюту</span>
</ng-template>