<div class="tab">
    <app-spinner [visible]="loading$ | async"></app-spinner>

    <div class="tab-header">
        <h2>Партнерский аккаунт</h2>
    </div>
    <div class="tab-content">
        <div class="tab-content__block">
            <h4>УСЛОВИЯ ПРОГРАММЫ</h4>
            <span class="tab-block__text">
            {{partnerText$ | async}}

            </span>
        </div>
        <div class="tab-content__block" *ngIf="personLink$ | async as link">
            <div class="tab-content__header">
                <h4>ВАША ССЫЛКА </h4>
                <span class="partner-link">{{personLink$ | async}}</span>
                <span class="copy" [attr.data-clipboard-text]="link">
                  <i class="far fa-copy"></i>
                </span>
            </div>
            <span class="tab-block__text">
      Используйте вашу личную ссылку для заработка в программе.
      </span>
        </div>
        <div class="tab-content__block" *ngIf="affiliateWithdral$ | async as data">
            <h4>СРЕДСТВА</h4>
            <span class="tab-block__text tab-block__text_bold">
      Доступно для вывода:
    </span>
            <span class="tab-block__text">
       {{data.value + ' ' +data.currencyCode}}
    </span>
        </div>
    </div>

    <ng-container *ngIf="applications$ | async">
        <div class="tab-header">
            <h2>Привлечённые заявки</h2>
        </div>
        <div class="tab-content">
            <app-applications-table mode="partnersApps" [data]="applications$ | async"></app-applications-table>
        </div>
    </ng-container>
</div>
