<ng-container *ngIf="mode === 'userApps'">
    <table mat-table [dataSource]="tableData" *ngIf="tableData">

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Дата</th>
            <td mat-cell *matCellDef="let element"> {{getDateUtc(element.date) | date: 'dd.MM.yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="give">
            <th mat-header-cell *matHeaderCellDef> Что </th>
            <td mat-cell *matCellDef="let element">
                <span class="currency">
        <span class="currency__icon">
          <img [src]="element.giveCurrency.icon">
        </span>
                <span class="currency__value">{{element.giveCurrency.value}}</span>
                <span class="currency__code">{{element.giveCurrency.currencyCode}}</span>
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="receive">
            <th mat-header-cell *matHeaderCellDef> На что </th>
            <td mat-cell *matCellDef="let element">
                <span class="currency">
        <span class="currency__icon">
          <img [src]="element.receiveCurrency.icon">
        </span>
                <span class="currency__value">{{element.receiveCurrency.value}}</span>
                <span class="currency__code">{{element.receiveCurrency.currencyCode}}</span>
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Статус </th>
            <td mat-cell *matCellDef="let element">
                <app-status [status]="element.status"></app-status>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsUser"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsUser;"></tr>
    </table>
</ng-container>



<ng-container *ngIf="mode === 'withdrawalApps'">
    <table mat-table [dataSource]="tableData" *ngIf="tableData">

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Дата</th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <ng-container matColumnDef="purse">
            <th mat-header-cell *matHeaderCellDef> Кошелек </th>
            <td mat-cell *matCellDef="let element">{{element.purse}}</td>
        </ng-container>

        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Сумма </th>
            <td mat-cell *matCellDef="let element">{{element.total}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Статус </th>
            <td mat-cell *matCellDef="let element">
                <app-status [status]="element.status"></app-status>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsWithdrawal"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsWithdrawal;"></tr>
    </table>
</ng-container>

<ng-container *ngIf="mode === 'partnersApps'">
    <table mat-table [dataSource]="tableData" *ngIf="tableData">

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Дата</th>
            <td mat-cell *matCellDef="let element"> {{getDateUtc(element.date) | date: 'dd.MM.yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="give">
            <th mat-header-cell *matHeaderCellDef> Что </th>
            <td mat-cell *matCellDef="let element">
                <span class="currency">
        <span class="currency__icon">
          <img [src]="element.giveCurrency.icon">
        </span>
                <span class="currency__value">{{element.giveCurrency.value}}</span>
                <span class="currency__code">{{element.giveCurrency.currencyCode}}</span>
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="receive">
            <th mat-header-cell *matHeaderCellDef> На что </th>
            <td mat-cell *matCellDef="let element">
                <span class="currency">
        <span class="currency__icon">
          <img [src]="element.receiveCurrency.icon">
        </span>
                <span class="currency__value">{{element.receiveCurrency.value}}</span>
                <span class="currency__code">{{element.receiveCurrency.currencyCode}}</span>
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Статус </th>
            <td mat-cell *matCellDef="let element">
                <app-status [status]="element.earningsStatus" [mode]="mode"></app-status>
            </td>
        </ng-container>

        <ng-container matColumnDef="reward">
            <th mat-header-cell *matHeaderCellDef> Вознаграждение </th>
            <td mat-cell *matCellDef="let element">{{element.earnings}} BTC</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsPartners"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPartners;"></tr>
    </table>
</ng-container>