<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-7">
        <div class="row">
            <div class="col-lg-6">
                <ng-container *ngIf="isMobile$ | async; then mobileGive; else defaultGive"></ng-container>
                <ng-template #mobileGive>
                    <app-currency-blog [mode]="modesBlock.GIVE" [currencies]="currenciesGive$ | async" [activeCurrency]="activeGiveCurrency$ | async" [isMobile]="isMobile$ | async" (exchangeCurrencyChanged)="onSelectCurrency($event, modesBlock.GIVE)" (openMobileList)="onOpenMobileList(modesBlock.GIVE)"></app-currency-blog>
                    <div class="block">
                        <div class="block-input">
                            <app-input [mode]="modesBlock.GIVE" [activeCurrency]="activeGiveCurrency$ | async" [amountValue]="valueInputGive$ | async" [validate]="validateInputGive$ | async" [error]="calculateError$ | async" [control]="exhangeForm.get('giveCurrency')" (inputValueAmount)="onInputAmountValue($event, modesBlock.GIVE)"></app-input>
                        </div>
                    </div>
                </ng-template>

                <ng-template #defaultGive>
                    <div class="block">
                        <!-- <div class="block-input" #inputGive>
                            <app-input [mode]="modesBlock.GIVE" [activeCurrency]="activeGiveCurrency$ | async" [amountValue]="valueInputGive$ | async" [validate]="validateInputGive$ | async" [error]="calculateError$ | async" [control]="exhangeForm.get('giveCurrency')" (inputValueAmount)="onInputAmountValue($event, modesBlock.GIVE)"></app-input>
                        </div> -->
                        <h3>Отдаю</h3>
                        <app-filters [filters]="giveFilters$ | async" [activeFilter]="activeGiveFilter$ | async" (changeFilter)="onClickFilter($event , modesBlock.GIVE)"></app-filters>
                        <app-currency-search [searchType]="modesBlock.GIVE"></app-currency-search>
                    </div>
                    <app-currency-blog [mode]="modesBlock.GIVE" [currencies]="currenciesGive$ | async" [activeCurrency]="activeGiveCurrency$ | async" [isMobile]="isMobile$ | async" (exchangeCurrencyChanged)="onSelectCurrency($event, modesBlock.GIVE)" (openMobileList)="onOpenMobileList(modesBlock.GIVE)"></app-currency-blog>
                </ng-template>
            </div>
            <div class="col-lg-6">
                <ng-container *ngIf="isMobile$ | async; then mobileReceive; else defaultReceive"></ng-container>

                <ng-template #mobileReceive>
                    <app-currency-blog [isActive]="(activeGiveCurrency$ | async).id" [mode]="modesBlock.RECEIVE" [currencies]="currenciesReceive$ | async" [activeCurrency]="activeReceiveCurrency$ | async" [isMobile]="isMobile$ | async" (exchangeCurrencyChanged)="onSelectCurrency($event, modesBlock.RECEIVE)"
                        (openMobileList)="onOpenMobileList(modesBlock.RECEIVE)"></app-currency-blog>
                    <div class="block">
                        <div class="block-input">
                            <app-input [mode]="modesBlock.RECEIVE" [activeCurrency]="activeReceiveCurrency$ | async" [amountValue]="valueInputReceive$ | async" [validate]="validateInputReceive$| async" [error]="calculateError$ | async" [control]="exhangeForm.get('receiveCurrency')"
                                (inputValueAmount)="onInputAmountValue($event, modesBlock.RECEIVE)"></app-input>
                        </div>
                    </div>
                </ng-template>

                <ng-template #defaultReceive>
                    <div class="block">
                        <h3>Получаю</h3>
                        <app-filters [filters]="receiveFilters$ | async" [activeFilter]="activeReceiveFilter$ | async" (changeFilter)="onClickFilter($event , modesBlock.RECEIVE)"></app-filters>
                        <app-currency-search [searchType]="modesBlock.RECEIVE"></app-currency-search>
                    </div>
                    <app-currency-blog [isActive]="(activeGiveCurrency$ | async).id" [mode]="modesBlock.RECEIVE" [currencies]="currenciesReceive$ | async" [activeCurrency]="activeReceiveCurrency$ | async" [isMobile]="isMobile$ | async" (exchangeCurrencyChanged)="onSelectCurrency($event, modesBlock.RECEIVE)"
                        (openMobileList)="onOpenMobileList(modesBlock.RECEIVE)"></app-currency-blog>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="form-wrapper" [ngClass]="{'form-wrapper__hidden': !(showForm$ | async)}">
            <app-currency-form #dataForm [exchangeForm]="exhangeForm" [activeGiveCurrency$]="activeGiveCurrency$" [activeReceiveCurrency$]="activeReceiveCurrency$">

                <div class="row" *ngIf="!(isMobile$ | async) && (activeGiveCurrency$ |async).id && (activeReceiveCurrency$ |async).id">
                    <div class="block col-lg-12">
                        <div class="block-input" #inputGive>
                            <app-input [mode]="modesBlock.GIVE" [activeCurrency]="activeGiveCurrency$ | async" [amountValue]="valueInputGive$ | async" [validate]="validateInputGive$ | async" [error]="calculateError$ | async" [control]="exhangeForm.get('giveCurrency')" (inputValueAmount)="onInputAmountValue($event, modesBlock.GIVE)"></app-input>
                        </div>

                    </div>
                    <div class="block col-lg-12">
                        <div class="block-input" #inputReceive>
                            <app-input [mode]="modesBlock.RECEIVE" [activeCurrency]="activeReceiveCurrency$ | async" [amountValue]="valueInputReceive$ | async" [validate]="validateInputReceive$| async" [error]="calculateError$ | async" [control]="exhangeForm.get('receiveCurrency')"
                                (inputValueAmount)="onInputAmountValue($event, modesBlock.RECEIVE)"></app-input>
                        </div>
                    </div>
                </div>

            </app-currency-form>
        </div>
    </div>
</div>
<div class="row main-info">
    <div class="col-lg-12">
        <h1>Правила обмена </h1>
        <div class="exchange-info">
            <div class="info-form">
                При проверке транзакции при наличии источника происхождения средств stolen, gambling, scam, dark market. Средства могут быть возвращены со штрафом 10 процентов, заблокированы биржей на неопределенный срок, а также изъяты по запросу правоохранительных
                органов. Обмен подобных средств в рамках заявки невозможен.
            </div>
            <div class="info-form">Курсы формируются по биржам: Binance.com, Moex.com. Средства считаются полученными обменным пунктом после первого подтверждения сети. До 1 - го подтверждения возможен возврат средств, для этого напишите оператору в jivosite.</div>
            <p class="bold">Для обмена Вам необходимо выполнить несколько шагов:</p>

            <ol>
                <li>Заполните все поля представленной формы. Нажмите кнопку «Обменять»</li>
                <li>Оплатите заявку. Для этого следует совершить перевод необходимой суммы, следуя инструкциям на нашем сайте.</li>
                <li>После выполнения указанных действий, система переместит Вас на страницу «Состояние заявки», где будет указан статус вашего перевода.</li>
            </ol>
        </div>

        <h1>Онлайн-обмен криптовалюты </h1>

        <p>Не первый год криптовалюты стремительно завоевывают цифровое пространство и становятся одним из главных инструментов расчета. С их помощью уже можно платить по счетам, покупать товары и оплачивать услуги. И, само собой, все чаще пользователей
            интернета интересует, где купить Биткоин, можно ли обменять рубли на Эфир, возможен ли обмен USDT и пр. Сегодня все текущие задачи можно решить в одном месте, за несколько минут и без каких-либо проблем. Сервис ObmenCrypto&nbsp;&ndash; это
            онлайн обменник Биткоин и других криптовалют с широким набором направлений транзакций, выгодной комиссией и оперативной технической поддержкой.</p>

        <h2>Купить и продать криптовалюты</h2>

        <p>Если вы не первый день работаете в этой сфере, то наверняка ищете удобный способ продажи и покупки. Например, хотите вывести заработанные монеты Ethereum на свою банковскую карту Visa или, наоборот, купить Биткоины за рубли. При этом важно, чтобы:</p>

        <ul>

            <li>курс был выгодным, с минимальной комиссией;</li>

            <li>не требовались лишние операции по регистрации, авторизации, подтверждения аккаунта;</li>

            <li>транзакции проводились оперативно.</li>

        </ul>

        <p>Обменник криптовалюты на рубли, доллары и евро &laquo;ObmenCrypto&raquo; с радостью вам поможет. Здесь доступны различные направления работы. Например, вы можете обменять:</p>

        <ul>

            <li>Bitcoin (BTC);</li>

            <li>Ethereum (ETH);</li>

            <li>Zcash (ZEC);</li>

            <li>USDT (Omni, ERC20);</li>

            <li>Litecoin (LTC);</li>

            <li>TRON (TRX);</li>

            <li>другие актуальные виды цифровых валют на рубли, доллары или евро.</li>

        </ul>

        <p>Всегда есть возможность провести обмен Биткоин на Эфириум, на USDT или Tether&nbsp;&ndash; одну криптовалюту на другую.</p>

        <p><em>Как можно получить деньги?</em></p>

        <p>Перевести деньги можно на разные счета:</p>

        <ul>

            <li>карту Сбербанка;</li>

            <li>счет в Альфа-Банк;</li>

            <li>карту Тинькофф Банка;</li>

            <li>сервис Advanced Cash.</li>

        </ul>

        <p>Также деньги выдаются наличными (с доставкой).</p>

        <p><em>Сколько денег в наличии?</em></p>

        <p>По каждому направлению доступен большой резерв, поэтому можете не беспокоиться о суммах. Если же в сервисе указано, что средств не хватает&nbsp;&ndash; свяжитесь с менеджерами. Наш обменник криптовалюты онлайн сделает все возможное, чтобы решить
            вашу проблему быстро и качественно.</p>

        <p><em>Как связаться со специалистами</em></p>

        <p>Для связи доступно несколько каналов: WhatsApp, Telegram, мобильный телефон. И помните, что вас ждет выгодный курс обмена криптовалют во всех направлениях.</p>

        <p><em>Как обменять валюту</em></p>

        <p>Воспользоваться сервисом &laquo;ObmenCrypto&raquo; очень просто. Для начала пройдите регистрацию на сайте, чтобы у вас был личный аккаунт. Он нужен для сбора информации, сохранения направлений транзакций и пр. Если же он уже есть, просто авторизуйтесь
            на сайте.</p>

        <p>Обмен криптовалюты на рубли проходит в несколько шагов:</p>

        <ul>

            <li>выберите в левом списке интересующую вас цифровую валюту (вкладка CRYPT);</li>

            <li>в правом списке во вкладках выберите направление обмена (RUB, USD, EUR). В каждой из них будет представлен перечень доступных сервисов для перевода;</li>

            <li>в левом поле сверху введите сумму. Учтите, что есть минимальный размер обмена Биткоина, Эфира и других монет. Вы также можете в правом поле указать, какая вам нужна сумма рублей, долларов или евро&nbsp;&ndash; система автоматически определит
                требуемую сумму криптовалюты;</li>

            <li>в правой части меню укажите требуемые для перевода данные (электронная почта, телефон, номер карты, ФИО);</li>

            <li>нажмите &laquo;Обменять&raquo; для начала операции.</li>

        </ul>

        <p>Так вы можете продать Биткоин и другие виртуальные деньги. Если хотите купить криптовалюту или другую валюту, то шаги аналогичны.</p>
    </div>
</div>