<div class="partner-buttons">
  <a href="https://www.bestchange.com/"><img
      src="https://www.bestchange.com/bestchange.gif" title="Монитор обменного курса" alt="Мониторинг обменных пунктов"
      width="88" height="31" border="0" /></a>
  <a href="https://udifo.com"><img src="https://udifo.com/images/udifo_logo.png" width="88" height="31" alt="udifo.com"
      title="udifo.com — мониторинг обменных пунктов 24/7"></a>
  <a target="_blank" href="https://www.okchanger.com/?a=70531"><img
      src="https://www.okchanger.com/images/banners/90x32.png" /></a>
  <a href="https://kurs.expert" title="Анализатор обменников №1"><img src="https://kurs.expert/i/buttonY.png" width="88"
      height="31" border="0"></a>
  <a href="https://good-kurs.ru" title="Лучший курс электронных валют на good-kurs.ru"><img
      src="https://good-kurs.ru/ban/88x31.gif" alt="Лучший курс электронных валют на good-kurs.ru" /></a>
  <a href="https://cryptobrokers.ru/?id=12"><img
      src="https://cryptobrokers.ru/wp-content/plugins/exchangers-monitor/images/banners/88x31.png"
      alt="Лучший курс валюты" title="Мониторинг обменников" border="0" /></a>
      <a href="https://bits.media/exchanger/obmencrypto/"><img
          src="assets/icons/bitsmedia.png"
          title="BitsMedia" border="0" 
          width="88" height="31" border="0"/></a>
</div>
