<div class="container">
  <div class="toolbar">
    <div class="row">
      <ng-container *ngFor="let item of currencies$ | async">
        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="currency">
             <span class="currency-value">
               <span class="currency__type">{{item.currencyCode}}</span>
               <span class="currency__value_usd">1 USD=</span>
               <span class="currency__value_rub">{{item.rublesValue + ' RUB'}}</span>
             </span>
            <span class="currency-type" *ngIf="item.currencyStatus === statuses.GROW">
              <span class="currency-type__value currency-type__value_grow">
                <span class="currency-type__value-text">{{'+' + item.currencyStatusPercentValue + ' %'}}</span>
                <span class="currency-type__value-icon">
                  <i class="far fa-arrow-alt-circle-up"></i>
                </span>
              </span>
              <span class="currency-type__icon">
                <i class="fas fa-chart-area"></i>
              </span>
            </span>
            <span class="currency-type" *ngIf="item.currencyStatus === statuses.FALL">
              <span class="currency-type__value currency-type__value_fall">
                <span class="currency-type__value-text">{{'-' + item.currencyStatusPercentValue + ' %'}}</span>
                <span class="currency-type__value-icon">
                  <i class="far fa-arrow-alt-circle-up"></i>
                </span>
              </span>
              <span class="currency-type__icon">
                <i class="fas fa-chart-area"></i>
              </span>
            </span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
