@import "../../../styles/vars";
@import "../../../styles/bootstrap-media";

.toolbar {
  border-radius: 5px;
  background: #fff;
  padding: 0 15px;
}

.currency {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 25px 0;
  @include media-breakpoint-down(md) {
    padding: 15px 0;
    flex-direction: column;
  }
  &__value {
    &_rub {
      color: $orange-color;
    }
  }
  &-type {
    @include media-breakpoint-down(md) {
      margin-top: 10px;
    }
    &__value {
      &_grow {
        color: green;
      }
      &_fall {
        color: red;
        .currency-type__value-icon {
          display: inline-block;
          transform: rotate(180deg);
        }
      }
    }
    &__icon {
      padding: 0 10px;
    }
  }
}

.ghost {
  position: relative;
  display: inline-block;
  vertical-align: sub;
  height: 20px;
  width: 200px;
  background-color: #ddd;
  border-radius: 5px;
  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 10px;
    background-color: rgba(255, 255, 255, .4);
    position: absolute;
    top: 0;
    left: 0;
    animation: pick 1.5s ease-in infinite;
  }
}

@keyframes pick {
  100% {
    left: 100%;
  }
}
