<app-static-page title="Партнёрская программа">
  <p>
    Зарабатывайте вместе с нами: участвуйте в партнерской программе и привлекайте клиентов. Для этого необходимо:
    <br /><br />
    1) зарегистрироваться в качестве пользователя на сайте obmencrypto.com<br />
    2) приглашать своих друзей по персональной партнерской ссылке, которая доступна в личном кабинете
    <br /><br />

    После того как Вы дали партнерскую ссылку другу, каждый клиент, перешедший на сайт obmencrypto.com по клику
    ссылки
    и осуществивший операцию при помощи нашего сервиса, считается клиентом, привлеченным Вами как партнером сервиса.
    С
    каждой такой операции, произведенной привлеченными клиентами, Вы получаете прибыль - 20 % от объема прибыли
    сервиса. У Вас будет возможность в режиме реального времени просматривать произведенные обмены привлеченных Вами
    пользователей.
  </p>
</app-static-page>
