<div class="tab">
  <app-spinner [visible]="loading$ | async"></app-spinner>
  <div class="tab-header">
    <h2>Мои заявки</h2>
    <button
      mat-flat-button
      color="accent"
      (click)="onClick()">Начать обмен</button>
  </div>

  <app-applications-table mode="userApps" [data]="applications$ | async"></app-applications-table>

</div>
