<app-static-page title="FAQ">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Как совершить обмен на сайте?</mat-expansion-panel-header>
      <p>
        Выбрать главную страницу, на странице есть форма что ОТДАЕТЕ и
        ПОЛУЧАЕТЕ, номер кошелька, E-mail (выбрать и заполнить). После
        заполнения всех полей, нажмите кнопку «Обменять». Следуйте дальнейшим
        указаниям.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Какие у вас комиссии?</mat-expansion-panel-header>
      <p>
        Все комиссии уже включены в обмен и отображаются на стадии оформления
        заявки
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Можно ли обменять больше чем в резерве?</mat-expansion-panel-header>
      <p>
        Да, можно. Вам необходимо оформить заявку, как только средства будут
        доступны, Вам будет выслано уведомление на e-mail, где будет указана
        ссылка для продолжения обмена
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Сколько у меня есть времени на оплату?</mat-expansion-panel-header>
      <p>
        Перевод на Ваш кошелек после оплаты заявки производится практически
        мгновенно. Если этого не произошло (в течение 15-20 минут), проверьте
        статус заявки в разделе "Заявки" Вашего аккаунта. Если там никаких ошибок
        нет, обратитесь в службу поддержки из раздела "Контакты".
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Сделал вывод. Как быстро будет пополнена моя карта?</mat-expansion-panel-header>
      <p>
        Перевод средств осуществляется после подтверждения от системы. Средства
        будут зачислены на Вашу карту в течении от 10 мин до 24 часов в
        зависимости от типа Вашей карты. Регламент зачисления платежей по Вашей
        карте уточняйте в своем банке.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Каким образом я могу отслеживать свою транзакцию?</mat-expansion-panel-header>
      <p>
        Вам необходимо зайти на сайт blockchain.com и ввести в поле поиска адрес
        вашего кошелька, либо ID транзакции, которую предоставит вам оператор
        после обмена.
    </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Что такое ID транзакции?</mat-expansion-panel-header>
      <p>
        Данная ссылка появляется при отправке средств на Ваш кошелек. Транзакция
        появляется в сети. По данной ссылке Вы можете увидеть с какого кошелька
        BTC и на какой кошелек были отправлены средства, а также количество
        подтверждений в сети. Данная ссылка является, своего рода, чеком перевода.
    </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Возможно ли отменить обмен, если заявка уже оплачена?</mat-expansion-panel-header>
      <p>
        К сожалению, нет. Если заявка была оплачена отказаться уже нельзя. При
        возникновении такой ситуации, Вы можете сделать обратную операцию, но в
        этом случае все комиссии покрываются за счет клиента.
    </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Что делать, если я не нашел ответа на мой вопрос?</mat-expansion-panel-header>
      <p>
        Вы всегда можете рассчитывать на оперативное решение проблем и ответы на интересующие Вас вопросы любым удобным способом, размещенном в разделе "Контакты".
    </p>
    </mat-expansion-panel>
  </mat-accordion>
</app-static-page>
<ng-template #expansionPanel let-header='header' let-content='content'>
  <mat-expansion-panel>
    <mat-expansion-panel-header>{{header}}</mat-expansion-panel-header>
    <p>{{content}}</p>
  </mat-expansion-panel>
</ng-template>
