<footer class="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-sm-4 col-md-4 col-md-4 col-lg-3">
        <div class="header__logo">
          <img src="assets/icons/logob.svg" alt="logo">
        </div>
      </div>
      <div class="col-sm-4 col-md-5 col-lg-7">
        <app-partner-buttons></app-partner-buttons>
      </div>
      <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="footer-contacts">
          <a appContactLink [contactType]="contactTypes.WhatsApp" class="footer-contacts__link">
            <i class="fab fa-whatsapp"></i>
          </a>
          <a appContactLink [contactType]="contactTypes.Telegram" class="footer-contacts__link">
            <i class="fab fa-telegram-plane"></i>
          </a>
          <a appContactLink [contactType]="contactTypes.Phone" class="footer-contacts__link">
            <i class="fas fa-phone"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
