.form {
    position: relative;
    &__field {
        position: relative;
    }
}

.mat-form-field {
    width: 100%;
    position: relative;
}

::ng-deep .mat-tab-body-content {
    padding-top: 5px;
}

::ng-deep .mat-tab-label {
    padding: 0 10px !important;
    min-width: 80px !important;
    height: 30px !important;
}

::ng-deep .mat-ink-bar {
    background-color: #fed049 !important;
}

.email-mark {
    margin-top: 10px;
}