<div>
    <mat-tab-group [selectedIndex]="0" [animationDuration]="'0ms'">
        <mat-tab label="Telegram">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Telegram</mat-label>
                <input type="text" matInput placeholder="@username" [pattern]="telegramPattern" prefix="@" mask="" [formControl]="telegramControl">
                <mat-error *ngIf="personForm.hasError('anyContactRequired')">Укажите один из контактов</mat-error>
                <mat-error *ngIf="personForm.hasError('telegram')">Невалидный телеграм</mat-error>
            </mat-form-field>
        </mat-tab>
        <mat-tab label="Email">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Email</mat-label>
                <input matInput placeholder="@example@mail.ru" [formControl]="emailControl" />
                <mat-error *ngIf="personForm.hasError('anyContactRequired')">Укажите один из контактов</mat-error>
                <mat-error *ngIf="personForm.hasError('email')">Невалидный email</mat-error>
            </mat-form-field>
        </mat-tab>
        <mat-tab label="Телефон">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Телефон</mat-label>
                <input matInput type="number" placeholder="89223334455" [formControl]="phoneControl">
                <mat-error *ngIf="personForm.hasError('anyContactRequired')">Укажите один из контактов</mat-error>
                <mat-error *ngIf="personForm.hasError('phone')">Укажите телефон</mat-error>
            </mat-form-field>
        </mat-tab>
    </mat-tab-group>
</div>