<div class="row" *ngIf="(template$ | async)">
  <div class="col-lg-6">

    <h2>Восстановление пароля</h2>
    <mat-divider></mat-divider>

    <ng-container *ngIf="(template$ | async) === 'alive';then alive; else reset"></ng-container>


    <ng-template #alive>
      <div class="form" *ngIf="formAlive" [ngClass]="{'form_loading': loadingReset$  | async}">
        <app-spinner [visible]="loadingReset$ | async"></app-spinner>
        <div class="form-fields">
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Введите email" [formControl]="formAlive">
              <mat-error *ngIf="formAlive.invalid">Введите корректные данные</mat-error>
            </mat-form-field>
          </div>
          <div class="form-field">
            <button
              class="field-btn"
              mat-flat-button
              color="accent"
              (click)="onAlive()"
            >Сбросить</button>
          </div>
        </div>
      </div>
    </ng-template>


    <ng-template #reset>
      <div class="form" *ngIf="formReset" [ngClass]="{'form_loading': loadingReset$  | async}">
        <app-spinner [visible]="loadingReset$ | async"></app-spinner>
        <div class="form-fields" [formGroup]="formReset">
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Введите email" formControlName="email">
              <mat-error *ngIf="formReset.get('email').invalid">Введите корректные данные</mat-error>
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Пароль</mat-label>
              <input matInput placeholder="Введите пароль" type="password" formControlName="password">
              <mat-error *ngIf="formReset.get('password').invalid">Введите корректное данные</mat-error>
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Повторите пароль</mat-label>
              <input matInput placeholder="Введите пароль" type="password" formControlName="passwordConfirm">
              <mat-error *ngIf="formReset.get('passwordConfirm').invalid">Введите корректное данные</mat-error>
            </mat-form-field>
          </div>
          <div class="form-field">
            <button
              class="field-btn"
              mat-flat-button
              color="accent"
              (click)="onReset()"
            >Восстановить</button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
