<div class="tab-header">
  <h2>Сменить пароль</h2>
</div>
<div class="form" [formGroup]="form">
  <app-spinner [visible]="loading$ | async"></app-spinner>
  <div class="form__field">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Текущий пароль</mat-label>
      <input
        matInput
        placeholder="Введите пароль"
        formControlName="currentPassword"
        type="password"
      >
    </mat-form-field>
  </div>
  <div class="form__field">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Новый пароль</mat-label>
      <input
        matInput
        placeholder="Введите пароль"
        formControlName="newPassword"
        type="password"
      >
    </mat-form-field>
  </div>
  <div class="form__field">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Подтверждение пароля</mat-label>
      <input
        matInput
        placeholder="Подтвердите пароль"
        formControlName="confirmPassword"
        type="password"
      >
    </mat-form-field>
  </div>
  <div class="form__field">
    <button
      mat-flat-button
      color="accent"
      (click)="onClick()">Сохранить</button>
  </div>
</div>
