<div class="tab-header">
  <h2>Настройки</h2>
  <button
    mat-flat-button
    color="accent"
    (click)="onClick()">Начать обмен</button>
</div>

<div class="form" [formGroup]="form">
  <app-spinner [visible]="loading$ | async"></app-spinner>
  <div class="form__field">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        placeholder="Введите email"
      >
      <mat-error>{{errorMessage}}</mat-error>
    </mat-form-field>
  </div>
  <div class="form__field">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Имя пользователя</mat-label>
      <input
        matInput
        formControlName="username"
        placeholder="Введите имя пользователя"
      >
      <mat-error>{{errorMessage}}</mat-error>
    </mat-form-field>
  </div>
  <div class="form__field">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Номер телефона</mat-label>
      <input
        matInput
        placeholder="+7 (999) 999 99-99"
        prefix="+7 "
        mask="(000) 000 00 00"
        formControlName="phone"
        placeholder="Введите номер телефона"
      >
      <mat-error>{{errorMessage}}</mat-error>
    </mat-form-field>
  </div>
  <div class="form__field">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Телеграм</mat-label>
      <input
        matInput
        placeholder="@user"
        prefix="@"
        mask="A{100}"
        formControlName="telegram"
      >
      <mat-error>{{errorMessage}}</mat-error>
    </mat-form-field>
  </div>
  <div class="form__field">
    <button
      mat-flat-button
      color="accent"
      (click)="onClick()">Сохранить</button>
  </div>
</div>
