.field {
    display: flex;
    flex-direction: column;
    padding: 0;
    font-size: 16px;
    &-head {
        &__text {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;
        }
    }
    &-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        &__icon {
            margin-left: 15px;
            img {
                width: 20px;
            }
        }
        &__text {
            &:first-child {
                padding-right: 12px;
            }
        }
    }
}