<div *ngIf="fields && fields.length">
    <div class="field">
        <div class="field-head">
            <span class="field-head__text">{{title}}:</span>
        </div>
        <div *ngFor="let field of fields">
            <div class="field-content application__volume">
                <span class="field-content__text">{{field.title}}: </span>
                <span class="field-content__text">{{field.value}}</span>
                <span class="field-content__icon">
                  <img [src]="field.icon" alt="icon-bitcoin">
            </span>
            </div>
        </div>
    </div>
</div>