.spinner {
  &-wrapper {
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      //height: 90%;
      background-color: rgba(255, 255, 255, .7s);
      z-index: 88;
    }
  }
  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
  }
}
