<ng-container *ngIf="status === statues.NEW">
    <div class="status status_new">
        <span class="status__icon">
      <i class="fas fa-star"></i>
    </span>
        <span class="status__text">Новая</span>
    </div>
</ng-container>

<ng-container *ngIf="status === statues.PAY_PENDING || status === statues.PENDING">
    <div class="status status_pay_pending">
        <span class="status__icon">
      <i class="fas fa-clock"></i>
    </span>
        <span class="status__text">Проверка оплаты</span>
    </div>
</ng-container>

<ng-container *ngIf="status === statues.PAID && mode != modes.PartnersApps">
    <div class="status status_paid">
        <span class="status__icon">
      <i class="fas fa-money-check"></i>
    </span>
        <span class="status__text">Оплачено</span>
    </div>
</ng-container>

<ng-container *ngIf="status === statues.PAID && mode == modes.PartnersApps">
    <div class="status status_served">
        <span class="status__icon">
      <i class="fas fa-money-check"></i>
    </span>
        <span class="status__text">Оплачено</span>
    </div>
</ng-container>

<ng-container *ngIf="status === statues.HOLD">
    <div class="status status_hold">
        <span class="status__icon">
      <i class="fas fa-money-check"></i>
    </span>
        <span class="status__text">Холд</span>
    </div>
</ng-container>

<ng-container *ngIf="status === statues.WITHDRAW">
    <div class="status status_withdraw">
        <span class="status__icon">
      <i class="fas fa-money-bill"></i>
    </span>
        <span class="status__text">Перевод средств</span>
    </div>
</ng-container>

<ng-container *ngIf="status === statues.CANCELED || status === statues.DECLINED">
    <div class="status status_canceled">
        <span class="status__icon">
      <i class="fas fa-ban"></i>
    </span>
        <span class="status__text">Отклонена</span>
    </div>
</ng-container>

<ng-container *ngIf="status === statues.COMPLETED">
    <div class="status status_served">
        <span class="status__icon">
      <i class="fas fa-check"></i>
    </span>
        <span class="status__text">Обслужена</span>
    </div>
</ng-container>
<ng-container *ngIf="status === statues.PAUSED">
    <div class="status status_pay_pending">
        <span class="status__icon">
      <i class="fas  fa-clock"></i>
    </span>
        <span class="status__text">Приостановлена</span>
    </div>
</ng-container>