@import "../../../styles/vars";
.status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #ffffff;
  border-radius: 5px;
  max-width: 200px;
  &_canceled {
    background-color: #dc3545;
  }
  &_new,
  &_pay_pending,
  &_paid,
  &_withdraw ,
  &_hold{
    background-color: $accent-color;
  }
  &_served {
    background-color: green;
  }
  &__icon {
    display: inline-block;
  }
  &__text {
    margin-left: 10px;
    display: inline-block;
  }
}
