@import "../../../styles/vars";

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .6);
  z-index: 999;
}

.mat-drawer {
  background: #2c2729;
}

.menu {
  &-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    .link {
      display: inline-block;
      padding: 10px 0;
      a {
        text-decoration: none;
        font-size: 28px;
        color: $light-semi-color;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
