<app-menu [menuState]="stateMenu$ | async" (closeMenu)="onCLoseMenu()">
</app-menu>
<div class="page-wrap">
    <app-header></app-header>
    <app-currency-toolbar></app-currency-toolbar>
    <div class="container">
        <div class="content">
            <router-outlet *ngIf="!(loading$ | async)"></router-outlet>
        </div>
    </div>
</div>
<div class="wrapper" *ngIf="loading$ | async as loading">
    <app-spinner [visible]="loading"></app-spinner>
</div>
<app-footer></app-footer>