<app-exchanger-modal-base [dialogRef]="dialogRef" [title]="title" buttonTitle="ОК" (buttonClick)="close()">
    <div class="modal-description row">
        Вы можете оформить заявку, оставив свой контакт для связи оператора.
    </div>
</app-exchanger-modal-base>