<h1 class="notfound notfound__title-code">404</h1>
<h1 class="notfound notfound__title-text">Страница не найдена</h1>
<p class="notfound notfound__text">Мы сожалеем, но мы не можем найти страницу, которую вы искали.</p>