.notfound {
    text-align: center;
    &__title {
        &-code {
            font-size: 50px;
        }
        &-text {
            font-size: 38px;
        }
    }
    &__text {
        font-size: 20px;
    }
}