:host ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

:host ::ng-deep .form-field {
    padding-bottom: 0px;
}

:host ::ng-deep .mat-form-field-infix {
    padding-top: 3px;
    padding-bottom: 5px;
}