<div class="col-12 articles-menu">
    <button #articleMenuBtn class="articles-menu-btn col-lg-2 col-md-4 col-sm-12" mat-flat-button color="accent" [matMenuTriggerFor]="articleMenu">Статьи</button>
    <div style="display:none">
        <a *ngFor="let desc of articleDescriptions$ | async;" [attr.href]="GetArticleLink(desc)" mat-menu-item>
        {{desc.title}}
      </a>
    </div>
    <mat-menu #articleMenu="matMenu">
        <a *ngFor="let desc of articleDescriptions$ | async;" [routerLink]="GetArticleLink(desc)" mat-menu-item>
          {{desc.title}}
        </a>
    </mat-menu>
</div>
<mat-divider></mat-divider>
<div class="article col-lg-12 col-md-12 col-sm-12" [innerHTML]="(currentArticle$ | async).htmlText">
    <mat-divider></mat-divider>
</div>
