<div class="modal">
  <div class="modal-header">
    <h2>{{data.title}}</h2>
  </div>
  <div class="modal-content">
    <span class="modal-content__text">{{data.message}}</span>
  </div>
  <div class="modal-btn">
    <button
      class="modal-btn__item"
      mat-flat-button
      color="accent"
      (click)="close()"
    >OK</button>
  </div>
</div>
