<div class="wrapper">
    <div class="button-close" (click)="onClose()">
        <i class="far fa-window-close"></i>
    </div>
    <app-currency-search [searchType]="mode"></app-currency-search>
    <app-filters [filters]="filters$ | async" [activeFilter]="activeFilter$ | async" (changeFilter)="onChangeFilter($event)">
    </app-filters>
    <mat-nav-list>
        <ng-container *ngFor="let cur of currencies$ | async">
            <app-currency-field [mode]="mode" [currency]="cur" [selected]="cur.currencyCode === (activeCurrency$ | async).currencyCode" (click)="onSelect(cur, $event)"></app-currency-field>
        </ng-container>
    </mat-nav-list>
</div>
