@import "../../../styles/vars";
@import "../../../styles/bootstrap-media";



.mat-stroked-button {
  border-color: $light-semi-color;
  width: 100%;
  height: 40px;
  @include media-breakpoint-down(xs) {
    margin-top: 14px;
  }&__logo
  &:hover {
    background-color: $accent-color;
    .account-btn {
      color: $brown-color;
    }
  }
}

.account-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $light-semi-color;
  transition: color .1s ease-in;
  &__icon {
    display: inline-block;
    margin-right: 15px;
    font-size: 14px;
  }
  &__text {
    display: inline-block;
  }
}

::ng-deep {
  .mat-menu-panel {
    max-width: none!important;
  }
  .mat-menu-item {
    line-height: 40px!important;
    height: 40px!important;
  }
}


.menu {
  &-item {
    &__icon {
      display: inline-block;
      width: 15px;
      margin-right: 15px;
    }
    &__text {
      display: inline-block;
    }
  }
}

