<header class="header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-4 col-md-4 col-md-4 col-lg-4">
                <div class="header__logo">
                    <div class="span header__btn">
                        <button class="hamburger hamburger--collapse" [ngClass]="{'is-active': stateMenu$ | async}" type="button" (click)="onOpenMenu()">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
                    </div>
                    <img src="/assets/icons/logo.svg" alt="logo" (click)="onNavigate()">
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-3">
                <span class="header__title">
          {{workingTime$ | async}}
        </span>
            </div>
            <div class="d-none d-lg-block d-xl-block offset-sm-0 offset-md-0 offset-lg-0 col-lg-2">
                <div class="header-contacts">
                    <a appContactLink [contactType]="contactTypes.WhatsApp" class="header-contacts__link">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a appContactLink [contactType]="contactTypes.Telegram" class="header-contacts__link">
                        <i class="fab fa-telegram-plane"></i>
                    </a>
                    <a appContactLink [contactType]="contactTypes.Phone" class="header-contacts__link">
                        <i class="fas fa-phone"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-3">
                <div class="header-account">

                    <ng-container *ngIf="isLoggedIn$ | async; then loggedIn else defaultTemplate"></ng-container>

                    <ng-template #loggedIn>
                        <button mat-stroked-button [matMenuTriggerFor]="menu" #buttonAccount>
              <span class="account-btn">
                <span class="account-btn__icon">
                  <i class="fas fa-user"></i>
                </span>
                <span class="account-btn__text">
                  {{(user$ | async)?.username}}
                </span>
              </span>
            </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="onCabinetClick()" [ngStyle]="{'width.px':widthButton$ | async}">
                <span class="menu-item">
                  <span class="menu-item__icon">
                    <i class="fas fa-user-plus"></i>
                  </span>
                  <span class="menu-item__text">Личный кабинет</span>
              </span>
              </button>
                            <button mat-menu-item (click)="onLogout()">
                <span class="menu-item">
                  <span class="menu-item__icon">
                    <i class="fas fa-sign-in-alt"></i>
                  </span>
                  <span class="menu-item__text">Выход</span>
                </span>
              </button>
                        </mat-menu>
                    </ng-template>

                    <ng-template #defaultTemplate>
                        <button mat-stroked-button [matMenuTriggerFor]="menu" #buttonAccount>
              <span class="account-btn">
                <span class="account-btn__icon">
                  <i class="fas fa-user"></i>
                </span>
                <span class="account-btn__text">Аккаунт</span>
              </span>
            </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="onRegClick()" [ngStyle]="{'width.px':widthButton$ | async}">
              <span class="menu-item">
                <span class="menu-item__icon">
                  <i class="fas fa-user-plus"></i>
                </span>
                <span class="menu-item__text">Регистрация</span>
              </span>
              </button>
                            <button mat-menu-item (click)="onEnter()">
              <span class="menu-item">
                <span class="menu-item__icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span class="menu-item__text">Вход</span>
              </span>
              </button>
                        </mat-menu>
                    </ng-template>

                </div>
            </div>
        </div>
    </div>
</header>