@import "../../../styles/vars";

.menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $brown-color;
  padding: 20px;
  opacity: 0;
  transition: opacity .5s ease-in;
  @media (max-width: 440px) {
    align-items: flex-start;
  }
  z-index: -1;
  &-btn {
    position: absolute;
    top: 35px;
    right: 15px;
  }
  &_open {
    opacity: 1;
    z-index: 999;
  }
  &-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .link {
      display: inline-block;
      padding: 10px 0;
      a {
        text-decoration: none;
        font-size: 28px;
        color: $light-semi-color;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.hamburger.is-active
.hamburger-inner,
.hamburger.is-active
.hamburger-inner::before,
.hamburger.is-active
.hamburger-inner::after {
  background-color: $light-semi-color;
}
