<div class="menu" [ngClass]="{'menu_open': menuState}">
    <div class="menu-btn">
        <button class="hamburger hamburger--collapse is-active" type="button" (click)="closeMenu.emit()">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
    </button>
    </div>
    <div class="menu-links">

        <span *ngFor="let l of linkDatas" class="link">
            <a [routerLink]="l.url" (click)="closeMenu.emit()">{{l.title}}</a>
        </span>
    </div>
</div>