.modal {
    &-description {
        margin: 5px;
        padding-bottom: 10px;
        text-align: center;
    }
}

.reserve-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    display: inline-block;
    background: #fff;
    padding: 0 3px;
    img {
        width: 35px;
    }
}