<app-exchanger-modal-base [dialogRef]="dialogRef" title="Не достаточно резерва?" buttonTitle="Отправить запрос" (buttonClick)="onSubmit()">
    <div class="modal-description row">
        Специально для Вас мы пополним резерв. Заполните форму и менеджер свяжется с вами в ближайшее время.
    </div>
    <div class="block-input row">
        <div class="col-lg-12">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput [formControl]="EmailControl" [placeholder]="'example@email.com'" />
                <mat-error *ngIf="EmailControl.hasError('email')">Некорректный email</mat-error>
                <mat-error *ngIf="EmailControl.hasError('contact')">Заполните один из контактов</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="block-input row">
        <div class="col-lg-12">
            <mat-form-field appearance="outline">
                <mat-label>Telegram</mat-label>
                <input matInput [formControl]="TelegramControl" [placeholder]="'@UserName'" />
                <mat-error *ngIf="TelegramControl.hasError('telegram')">Некорректный telegram</mat-error>
                <mat-error *ngIf="TelegramControl.hasError('contact')">Заполните один из контактов</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="block-input row">
        <div class="col-lg-12">
            <mat-form-field appearance="outline">
                <mat-label>Телефон</mat-label>
                <input matInput [formControl]="PhoneControl" [placeholder]="'+79223334455'" />
                <mat-error *ngIf="PhoneControl.hasError('contact')">Заполните один из контактов</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="block-input row">
        <div class="col-lg-12">
            <mat-form-field appearance="outline">
                <mat-label>Нужный резерв</mat-label>
                <input type="number" matInput [formControl]="VolumeControl" [placeholder]="'Введите нужный резерв'" />
                <mat-error *ngIf="VolumeControl.hasError('nonPositiveNumber')">Некорректный резерв</mat-error>
            </mat-form-field>
            <span class="reserve-icon" *ngIf="data.icon">
              <img [src]="data.icon"/>
          </span>
        </div>
    </div>
</app-exchanger-modal-base>