.form {
  position: relative;
  &-body {
    &__block {
      &:first-child {
        margin-bottom: 25px;
      }
    }
    &__field {
      position: relative;
    }
    &__icon {
      position: absolute;
      top: 10px;
      right: 5px;
      display: inline-block;
      background: #fff;
      padding: 0 3px;
      img {
        width: 35px;
      }
    }
  }
}
.mat-form-field {
  width: 100%;
  position: relative;
}
