<ng-container *ngIf="fieldControlValue">
    <ng-container *ngIf="fieldControlValue.fieldType === fieldTypes.WALLET">
        <div class="form-body__field">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{fieldControlValue.title}}</mat-label>
                <input matInput placeholder="Введите кошелёк" [formControl]="fieldControl.get('value')">
                <mat-error *ngIf="fieldControl.get('value').hasError('cryptoWallet')">Введите корректный номер кошелька</mat-error>
                <mat-error *ngIf="fieldControl.get('value').hasError('yaMoneyWallet')">Номер кошелька должен начинаться с 4100</mat-error>
                <mat-error *ngIf="fieldControl.get('value').hasError('advCashWallet')">Невалидный кошелёк</mat-error>
                <mat-error *ngIf="fieldControl.get('value').hasError('required')">Обязательно</mat-error>
            </mat-form-field>
            <span class="form-body__icon" *ngIf="fieldControlValue.icon">
        <img [src]="fieldControlValue.icon">
    </span>
        </div>
    </ng-container>

    <ng-container *ngIf="fieldControlValue.fieldType === fieldTypes.BANKCARD">
        <div class="form-body__field">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{fieldControlValue.title}}</mat-label>
                <input matInput placeholder="16 цифр" mask="0000  0000  0000  0000" [formControl]="fieldControl.get('value')">
                <mat-error *ngIf="fieldControl.get('value').hasError('required')">Обязательно</mat-error>
            </mat-form-field>
            <span class="form-body__icon" *ngIf="fieldControlValue.icon">
              <img [src]="fieldControlValue.icon">
            </span>
        </div>
    </ng-container>

    <ng-container *ngIf="fieldControlValue.fieldType === fieldTypes.TEXT">
        <div class="form-body__field">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{fieldControlValue.title}}</mat-label>
                <input matInput [formControl]="fieldControl.get('value')" [placeholder]="fieldControlValue.title">
                <mat-error *ngIf="fieldControl.get('value').hasError('required')">Обязательно</mat-error>
            </mat-form-field>
            <span class="form-body__icon" *ngIf="fieldControlValue.icon">
      <img [src]="fieldControlValue.icon">
    </span>
        </div>
    </ng-container>

    <ng-container *ngIf="fieldControlValue.fieldType === fieldTypes.PHONE">
        <div class="form-body__field">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{fieldControlValue.title}}</mat-label>
                <input matInput placeholder="+7 (999) 999 99-99" prefix="+7 " mask="(000) 000 00 00" [formControl]="fieldControl.get('value')">
                <mat-error *ngIf="fieldControl.get('value').hasError('required')">Обязательно</mat-error>
            </mat-form-field>
            <span class="form-body__icon" *ngIf="fieldControlValue.icon">
      <img [src]="fieldControlValue.icon">
    </span>
        </div>
    </ng-container>
</ng-container>
