<div class="row">
  <div class="col-lg-6">
    <div class="form">
      <h2>Оставить отзыв</h2>
      <mat-divider></mat-divider>
      <div class="form-fields" [formGroup]="form">
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Имя</mat-label>
            <input matInput placeholder="Ваше имя" formControlName="username">
            <mat-error *ngIf="form.get('username').invalid">Имя не должно быть пустым</mat-error>
          </mat-form-field>
        </div>
        <div class="form-fields" [formGroup]="form">
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Ваше имя" formControlName="email">
              <mat-error *ngIf="form.get('email').invalid">Невалидный email</mat-error>
            </mat-form-field>
          </div>
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Текст отзыва</mat-label>
            <textarea matInput
              placeholder="Текст отзыва" formControlName="text"></textarea>
            <mat-error *ngIf="form.get('text').invalid">Текст отзыва не должен быть пустым</mat-error>
          </mat-form-field>
        </div>
        <div class="form-field">
          <button
          class="field-btn"
          mat-flat-button
          color="accent"
          class="field-btn"
           mat-flat-button
           (click)="sendFeedback()">Отправить</button>
        </div>
        <div class="form-field">
            <p class="result-message" *ngIf="sendResultMessage | async">{{sendResultMessage | async}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
